body{
    margin: 0;
    color:#595959;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-icon {
    height: 32pt;
    width: 32pt;
    padding-right: 8pt;
}

.text-title{
    font-weight: 500;
    font-size: 32pt;
}

.text-subtitle{
    font-weight: 500;
    font-size: 20pt;
}

.text-regular{
    font-size: 14pt;
}

.text-semibold{
    font-weight: 500;
    font-size: 14pt;
}

.text-color-darkblue{
    color: #243a5e;
}

.text-color-blue{
    color: #0078d4;
}

.text-color-lightblue{
    color: #54ebff;
}

.text-color-white{
    color: #ffffff;
}

.subtitlewithicon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 4pt;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-block{
    width: 90%;
}

.section-background-gray {
    background: #eaeaea;
}

.section-background-darkblue {
    background: #24315e;
}

.padding-top-big{
    padding-top: 40pt;
}

.padding-top-medium{
    padding-top: 24pt;
}

.padding-top-small{
    padding-top: 18pt;
}

.padding-bottom-big{
    padding-bottom: 18pt;
}

.padding-bottom-medium{
    padding-bottom: 24pt;
}

.padding-bottom-small{
    padding-bottom: 18pt;
}

.padding-left-big{
    padding-left: 40pt;
}

.padding-left-medium{
    padding-left: 24pt;
}

.padding-left-small{
    padding-left: 18pt;
}

.padding-right-big{
    padding-left: 40pt;
}

.padding-right-medium{
    padding-left: 24pt;
}

.avatar-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar-card-img {
    height: 100pt;
    width: 100pt;
    border-radius: 112pt;
    margin-left: 40pt;
    margin-right: 40pt;
}

.avatar-card-textblock {
    display: flex;
    flex-direction: column;
}

.split-table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .table-column-left{
    width: 230pt;
} 

.table-column-right{
    width: 230pt;
}  */

.experience-card{
    display: flex;
    flex-direction: column;
}

.experience-card-project{
    width: 550pt;
    display: flex;
    flex-direction: column;
}

.skill-bubbles{
    padding-top: 10pt;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill-bubbles-item{
    border-radius: 16pt;
    background-color: #24315e;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    padding-left: 8pt;
    padding-right: 8pt;
    padding-top: 2pt;
    padding-bottom: 2pt;
    margin: 1pt;
}